@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,200;1,600&display=swap');

:root {
	--blackground: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
	--color-primary: #667eea;
	--color-secondary: #764ba2;
	--boton-padding: 20px 40px;
}
body {
	font-family: 'Raleway', sans-serif;
}
.container {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px 0;
	max-width: 1200px;
}

.subtitulo {
	color: var(--color-primary);
	font-size: 2.5rem;
	margin-bottom: 35px;
}

.hero {
	height: 100vh;
	background-image: var(--blackground),
		url(../assets/freddie-marriage-vSchPA-YA_A-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}
.hero .container {
	padding: 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	font-weight: 600;
}
.nav a {
	text-decoration: none;
}
.nav--footer {
	font-weight: 200;
}

.nav--items {
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	padding: 10px 15px;
	font-weight: inherit;
}
.nav--items--cta {
	border: 1px solid #fff;
}
.nav__items--footer {
	padding: 10px;
}
.hero__container {
	display: flex;
	height: calc(100vh - 70px);
	align-items: center;
	color: #fff;
}
.hero__texts {
	width: 80%;
	margin-bottom: 50px;
}
.hero__title {
	font-size: 3.2rem;
}
.hero__subtitulo {
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;
}
.hero__cta {
	display: inline-block;
	background: #fff;
	padding: var(--boton-padding);
	color: var(--color-primary);
	text-decoration: none;
	border-radius: 40px;
}

.hero__wave {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.presentacionconteiner {
	padding-top: 0;
	text-align: center;
}
.presentcion__foto {
	padding: 15px;
	width: 150px;
	height: 150px;
	border-radius: 50px;
	margin-bottom: 10px;
	object-fit: cover;
	object-position: top;
}
.presentacion__copy {
	width: 80%;
	margin: 0 auto;
}
.presentacion__cta {
	margin-top: 30px;
	background: var(--color-primary);
	color: #fff;
	padding: var(--boton-padding);
	border-radius: 40px;
	border: 1px solid black;
	padding: 80px 0;
	margin: 0 auto;
	overflow: hidden;
	height: 100%;
	width: 90%;
}
.texto {
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contenImg {
	margin-top: 30px;
	position: relative;
}

.arrow {
	position: absolute;
	top: 150px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.foto.fade {
	top: 0;
	width: 100%;
}
.foto.fade1 {
	top: 0;
	width: 100%;
}
.img {
	height: 75vh;
}

.anterior:hover,
.siguiente:hover {
	color: black;
	cursor: pointer;
}
.anterior,
.siguiente {
	font-size: 25px;
}
.circulo {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 2px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: backgroun-color 0.6s ease;
}
.circulos {
	margin-top: 30px;
}
.active,
.circulo:hover {
	background-color: #717171;
}

.about {
	min-height: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 80px;
	justify-items: center;
	align-items: center;
}
.about__img {
	text-align: center;
}
.about__img--left {
	text-align: left;
}
.about__pinture {
	max-width: 80%;
}
.about__parrafo {
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: 300;
}
.proyectos {
	background: #f2f2f2;
}
.proyectos__grid {
	display: grid;
	height: 550px;
	grid-template-areas:
		'im1 im1 im2 im3'
		'im1 im1 im4 im5';
	gap: 10px;
}
.proyectos__items {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.proyectos__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.proyectos__items:nth-of-type(1) {
	grid-area: im1;
}

.proyectos__items:nth-of-type(1) {
	grid-area: im1;
}
.proyectos__items:nth-of-type(2) {
	grid-area: im2;
}
.proyectos__items:nth-of-type(3) {
	grid-area: im3;
}
.proyectos__items:nth-of-type(4) {
	grid-area: im4;
}

.proyectos__hover {
	position: absolute;
	background: #dc143c8c;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateX(100%);
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}
.proyectos__items:hover .proyectos__hover {
	transform: translateX(0%);
}
.proyecto__icon {
	margin-top: 10px;
	font-size: 30px;
}
.testimony__grid {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.testimony__item {
	width: 95%;
	margin: 0 auto;
	background: var(--color-secondary);
	box-shadow: 0 8px 10px rgba(66, 66, 66, 0.5);
	border-radius: 7 px;
	padding: 30px 25px;
	color: #fff;
	margin-bottom: 50px;
}
.testimony__personal {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.testimony__img {
	width: 100px;
	min-width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
	border: 3px solid #fff;
	margin-right: 30px;
}
.testymony__name {
	font-size: 1.5rem;
	margin-bottom: 10px;
}
.testimony__cerification {
	color: #e0afa0;
	font-weight: 700;
}
.testimony__review {
	font-weight: 200;
}
.footer {
	background: var(--color-primary);
}
.footer__grid {
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 20px;
	align-items: center;
}
.footer__title {
	font-weight: 400;
	color: #fff;
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: center;
}
.footer__icons {
	display: flex;
	justify-content: space-evenly;
}
.footer__container-icons {
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
}
.footer__container-icons:hover {
	background: #fff;
	color: #764ba2;
}
.footer__icon {
	color: inherit;
	font-size: 30px;
	text-decoration: none;
}
.fab.footer__icon {
	line-height: 60px;
}
